.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 5;

    overflow: visible;
    padding: 1rem;
}

.hero-image img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero-image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;

    background-color: var(--color-starred2);
    z-index: -1;
}

.hero-image h2 {
    position: absolute;
    bottom: 0;
    padding: 1rem;

    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 5rem;
    line-height: 138px;
    color: ghostwhite;
}

.hero-content {
    flex: 1.22;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    overflow: visible;
    z-index: 5;

    background-image: url("../../assets/pngs/Curry-1.png"),  url("../../assets/pngs/Fried Rice-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 10px top 10px, right 0px bottom 150px;
    background-size: 400px, 400px;
    
}

.hero-content-info {
    /* padding: 2rem; */
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-top: 8px solid var(--black-400);
}

.hero-content-info h1 {
    margin: 0 0 0 2rem;
    font-size: 5rem;
    font-family: var(--playfair-display);
    color: var(--black-400);
}

.hero-content-info p {
    margin: 40px 0 50px 100px;

    font-family: var(--plus-jakarta-sans);
    color: var(--black-400);
    font-size: 20px;
    font-weight: 400;
}

.hero-content__buttons {
    margin: 41px 0 50px 80px;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 36px;
}

.hero-content__order-button {
    padding: 20px;
    border-radius: 36px;
    min-width: 212px;
    outline: none;
    border: none;
    background: var(--black-400);
    opacity: 0.95;

    cursor: pointer;

    color: whitesmoke;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.hero-content__play-button {
    border: none;
    outline: none;
    background: transparent;

    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    color: var(--black-200);
    font-family: var(--plus-jakarta-sans);

    cursor: pointer;
}

.hero-content__play-button img {
    margin-right: 12px;

    width: 46px;
    height: 46px;
    object-fit: contain;
}

.hero-content__testimonial {
    padding: 32px 64px;

    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    border-bottom: 8px solid var(--black-400);
}

.hero-content__customer {
    flex: 1;
    gap: 10px;
    margin: 35px 0 0 35px;
}

.hero-content__customer h4 {
    font-size: 50px;
    font-weight: 400;
    font-family: var(--playfair-display);
}

.hero-content__customer p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    opacity: 0.6;
}

.hero-content__review {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 20px;
}

.hero-content__review img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.hero-content__review p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-family: var(--plus-jakarta-sans);
    color: var(--black-400);
}