.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 5;

    overflow: visible;
    padding: 1rem;
}

.hero-image img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero-image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;

    background-color: var(--color-starred2);
    z-index: -1;
}

.hero-image h2 {
    position: absolute;
    bottom: 0;
    padding: 1rem;

    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 5rem;
    line-height: 138px;
    color: ghostwhite;
}

.hero-content {
    flex: 1.22;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    overflow: visible;
    z-index: 5;

    background-image: url("../../assets/pngs/Curry-1.png"),  url("../../assets/pngs/Fried Rice-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 10px top 10px, right 10px bottom 50px;
    background-size: 400px, 400px;
    
}

.hero-content-info {
    padding: 3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content-info h1 {
    font-size: 5rem;
    font-family: var(--playfair-display);
    color: var(--black-400);
}